<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수정화면</title>
</head>
<body>
<form th:action="@{/member/update}" method="post" th:object="${memberDto}">

    <div>
        <label for="id">ID : [[*{id}]]</label>
    </div>

    <div>
        <label for="name">이름</label>
        <input type="text" name="name" th:field="*{name}">
        <span th:errors="*{name}"></span>
    </div>

    <div>
        <label for="age">나이</label>
        <input type="text" name="age" th:field="*{age}">
        <span th:errors="*{age}"></span>
    </div>

    <div>
        <label for="addr">주소</label>
        <input type="text" name="addr" th:field="*{addr}">
        <span th:errors="*{addr}"></span>
    </div>
        <input type="hidden" th:field="*{id}">
        <!--field 를 id도 설정을 해주어야 값을 가져올 수 있기 때문-->
        <!--hidden 이란? 값 하나를 가지고 있는 깍두기?-->
        <input type="submit" value="수정">
    </form>

    <br>
    <a th:href="@{/member/show}">메인화면으로 돌아가기</a>
</body>
</html>